/* Global Styles */
body {
	margin: 5%;
	color: white;
	background: #111111;
	font-family: 'Roboto', sans-serif;
  }
  
  /* Options */
  #nav-colors, #font-colors, #edges {
	margin-top: 10px;
  }
  
  #nav-colors .btn, #font-colors .btn, #edges .btn {
	display: inline-block;
	padding: 10px;
	margin: 0 5px;
	border: 2px solid #111111;
	transition: 0.2s ease;
  }
  
  #nav-colors .btn:hover, #font-colors .btn:hover, #edges .btn:hover {
	border: 2px solid white;
  }
  
  #nav-colors #pink { background: linear-gradient(to right, #ff5858, #f857a6); }
  #nav-colors #red { background: linear-gradient(to right, #d31027, #ea384d); }
  #nav-colors #purple { background: linear-gradient(to right, #41295a, #2f0743); }
  #nav-colors #blue { background: linear-gradient(to right, #396afc, #2948ff); }
  #nav-colors #green { background: linear-gradient(to right, #add100, #7b920a); }
  #nav-colors #yellow { background: linear-gradient(to right, #f7971e, #ffd200); }
  #nav-colors #orange { background: linear-gradient(to right, #e43a15, #e65245); }
  
  #font-colors #white { background: white; }
  #font-colors #black { background: black; }
  
  #edges #rounded {
	background: black;
  }
  
  #edges #square {
	background: black;
	border-radius: 0;
  }
  
  #edges .btn:hover {
	color: white;
  }
  
  /* Navbar */
  .navbar {
	border: 0;
	border-radius: 0;
	background: linear-gradient(to right, #ff5858, #f857a6);
  }
  
  .nav li > a, .navbar-brand {
	max-height: 50px;
	width: auto;
	background: transparent !important;
	font-size: 18px;
	transition: 0.2s ease-in-out;
  }
  
  .nav li > a:hover, .navbar-brand:hover {
	background-color: rgba(255,255,255,0.2);
	font-size: 14px;
  }
  
  .link {
	width: 0;
	font-family: 'Roboto', sans-serif;
	transition: 0.2s ease-in-out;
	visibility: hidden;
	font-size: 0px;
  }
  
  span {
	color: white;
  }
  
  .navbar-toggle {
	padding-right: 0;
  }
  
  .icon-bar {
	background: white;
  }
  
  .navbar-collapse {
	display: none;
  }
  
  button {
	background: transparent;
  }
  
  button[type=submit] {
	padding-right: 0;
  }
  
  button[type=submit] span {
	transition: 0.3s ease-in-out;
  }
  
  button[type=submit]:hover span {
	transform: scale(1.3) rotate(90deg);
  }
  
  form {
	padding: 0;
  }
  
  .form-control {
	border: 0;
	border-radius: 0;
	color: black;
	font-weight: bold;
	background: rgba(255,255,255,0.7);
	transition: 0.2s ease-in-out;
  }
  
  .form-control:hover {
	background: white;
  }
  
  /* Dropdown */
  .dropdown .fa-caret-down {
	padding-left: 3px;
	font-size: 18px;
	transition: 0.4s ease;
  }
  
  .dropdown.open .fa-caret-down {
	transform: rotate(180deg);
  }
  
  .dropdown-menu {
	min-width: 0px !important;
	width: 100%;
	background: #ff5858;
	text-align: center;
	border-radius: 0;
  }
  
  .dropdown-menu li, .dropdown-menu a {
	color: white;
	font-size: 14px;
	line-height: 30px;
  }
  
  .dropdown-menu li:hover, .dropdown-menu a:hover {
	color: white;
	letter-spacing: 1px;
	background: transparent;
  }
  
  .dropdown-menu a {
	padding: 0 15px;
  }
  
  /* Small Devices */
  @media(max-width: 769px) {
	.navbar .link {
	  padding-left: 10px;
	  visibility: visible;
	  width: 100%;
	  font-size: 14px;
	}
  
	.navbar-brand .link {
	  visibility: hidden;
	}
  
	.dropdown .dropdown-menu {
	  text-align: left !important;
	}
  
	button[type=submit] {
	  width: 50%;
	  float: left;
	}
  
	.navbar-form {
	  border: 0;
	}
  
	.form-group {
	  padding: 0;
	  margin: 0;
	}
  
	.form-control {
	  width: 50%;
	  float: left;
	}
  }
  